<div style="background:blueviolet;color:white;padding:10px">Welcome
  {{email}}</div>
<h2>User List</h2>

{{#each users}}
  <ul>
    <li>Email
      {{this.email}}
      Role
      {{this.role}}
      <button onclick="deleteOneUser(`{{this._id}}`)">Delete User</button>
      <button onclick="changeRole(`{{this._id}}`)">Change User Role</button>
    </li>
  </ul>
{{/each}}

<a href="/api/sessions/logout">Close Session</a>

<script src="./js/users.js"></script>>